* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

body {
  font-family: Tahoma, sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.slider .slide a {
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.book-info__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 77px 0 96px 0;
}

.book-info__image {
  margin-right: 73px;
  width: 36%;
}

.book-info__image img {
  max-width: 100%;
  max-height: 100%;
}

.book-info__text {
  width: 46.5%;
  margin-top: 60px;
}

.book-info__title {
  margin-bottom: 19px;
}

.book-info__title h1 {
  margin: 0;
  margin-left: -0.07em;
  line-height: 0.7;
  font-size: calc(26px + 22 * ((100vw - 320px) / 1046));
}

.book-info__subtitle {
  margin-bottom: 33px;
}

.book-info__subtitle p {
  font-size: calc(22px + 8 * ((100vw - 320px) / 1046));
}

.book-info__description {
  margin-bottom: 33px;
}

.book-info__description p {
  font-size: calc(16px + 2 * ((100vw - 320px) / 1046));
  line-height: 27px;
}

.book-info__price {
  margin-bottom: 53px;
}

.book-info__price p {
  font-size: 48px;
}

.book-info__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.book-info__buttons .buy {
  margin-right: 40px;
  padding: 17px 44px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 5px;
  color: #ffffff;
  background-color: #f05a22;
  line-height: 27px;
}

.book-info__buttons .details {
  padding: 17px 28px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 5px;
  color: #f05a22;
  border: 2px solid #f05a22;
  background-color: #fff;
}

.delivery-payment {
  color: #333333;
  background-color: #f2f2f2;
}

.delivery-payment__body {
  padding: 82px 0 100px 0;
}

.delivery-payment__title {
  margin-bottom: 91px;
  text-align: center;
}

.delivery-payment__title h2 {
  font-size: 30px;
}

.delivery-payment__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 21%) minmax(auto, 21%) minmax(auto, 21%) minmax(auto, 21%);
      grid-template-columns: minmax(auto, 21%) minmax(auto, 21%) minmax(auto, 21%) minmax(auto, 21%);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-column-gap: 5%;
}

.delivery-payment__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.delivery-payment__content-item .item-image {
  margin-bottom: 16px;
}

.delivery-payment__content-item .item-image img {
  height: 50px;
  width: 58px;
}

.delivery-payment__content-item .item-text p {
  font-size: 18px;
}

.buyers {
  color: #333333;
}

.buyers__body {
  padding: 90px 0 110px 0;
}

.buyers__title {
  margin-bottom: 70px;
}

.buyers__title h2 {
  text-align: center;
  font-size: 30px;
}

.buyers__content {
  width: 70%;
  margin: 0 auto;
}

.buyers__content-item {
  padding: 0 10px;
}

.buyers__content-item .item-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buyers__content-item .item-image img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 1199px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
  .book-info__body {
    margin: 77px 0 96px 0;
  }
  .book-info__image {
    margin-left: 20px;
  }
  .book-info__text {
    width: 46.5%;
    margin-top: 60px;
  }
  .book-info__title {
    margin-bottom: 19px;
  }
  .book-info__title h1 {
    margin: 0;
    margin-left: -0.07em;
    line-height: 0.7;
  }
  .book-info__subtitle {
    margin-bottom: 33px;
  }
  .book-info__description {
    margin-bottom: 33px;
  }
  .book-info__description p {
    line-height: 27px;
  }
  .book-info__price {
    margin-bottom: 53px;
  }
  .book-info__price p {
    font-size: 40px;
  }
  .book-info__buttons .buy {
    margin-right: 30px;
    padding: 17px 35px;
    font-size: 22px;
    line-height: 27px;
  }
  .book-info__buttons .details {
    padding: 17px 25px;
    font-size: 22px;
  }
}

@media (max-width: 991px) {
  .book-info__body {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin: 50px 0 70px 0;
  }
  .book-info__image {
    margin-right: 50px;
  }
  .book-info__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 55%;
    margin-top: 0;
  }
  .book-info__title {
    margin-bottom: 15px;
  }
  .book-info__title h1 {
    margin: 0;
    margin-left: -0.07em;
    line-height: 0.7;
  }
  .book-info__subtitle {
    margin-bottom: 20px;
  }
  .book-info__description {
    margin-bottom: 25px;
  }
  .book-info__price {
    margin-bottom: 25px;
  }
  .book-info__price p {
    font-size: 40px;
  }
  .book-info__buttons .buy {
    margin-right: 20px;
    padding: 12px 15px;
    font-size: 24px;
  }
  .book-info__buttons .details {
    padding: 12px 15px;
    font-size: 24px;
  }
  .delivery-payment__body {
    padding: 60px 0 80px 0;
  }
  .delivery-payment__title {
    margin-bottom: 60px;
    text-align: center;
  }
  .delivery-payment__title h2 {
    font-size: 30px;
  }
  .delivery-payment__content {
    grid-gap: 30px;
  }
  .delivery-payment__content-item .item-image {
    margin-bottom: 10px;
  }
  .buyers__body {
    padding: 70px 0 90px 0;
  }
  .buyers__title {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .book-info__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 50px 0 70px 0;
  }
  .book-info__image {
    margin-bottom: 30px;
    margin-right: 0;
    margin-left: 0;
  }
  .book-info__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-top: 0;
  }
  .book-info__title {
    margin-bottom: 15px;
  }
  .book-info__title h1 {
    margin: 0;
    margin-left: -0.07em;
    line-height: 0.7;
  }
  .book-info__subtitle {
    margin-bottom: 20px;
  }
  .book-info__description {
    margin-bottom: 25px;
  }
  .book-info__price {
    margin-bottom: 25px;
  }
  .book-info__price p {
    font-size: 40px;
  }
  .book-info__buttons .buy {
    margin-right: 20px;
    padding: 12px 15px;
    font-size: 24px;
  }
  .book-info__buttons .details {
    padding: 12px 15px;
    font-size: 24px;
  }
  .delivery-payment__body {
    padding: 40px 0 50px 0;
  }
  .delivery-payment__title {
    margin-bottom: 45px;
    text-align: center;
  }
  .delivery-payment__title h2 {
    font-size: 30px;
  }
  .delivery-payment__content {
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -ms-grid-columns: (40%)[2];
        grid-template-columns: repeat(2, 40%);
    grid-gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .delivery-payment__content-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .delivery-payment__content-item .item-image {
    margin-bottom: 10px;
  }
  .buyers__body {
    padding: 50px 0 70px 0;
  }
  .buyers__title {
    margin-bottom: 40px;
  }
  .buyers__content {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .book-info__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 50px 0 70px 0;
  }
  .book-info__image {
    width: 50%;
  }
  .book-info__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-top: 0;
  }
  .book-info__title {
    margin-bottom: 15px;
  }
  .book-info__title h1 {
    margin: 0;
    margin-left: -0.07em;
    line-height: 0.7;
  }
  .book-info__subtitle {
    margin-bottom: 20px;
  }
  .book-info__description {
    margin-bottom: 25px;
  }
  .book-info__price {
    margin-bottom: 25px;
  }
  .book-info__price p {
    font-size: 36px;
  }
  .book-info__buttons .buy {
    margin-right: 8px;
    padding: 10px 10px;
    font-size: 20px;
  }
  .book-info__buttons .details {
    padding: 10px 10px;
    font-size: 20px;
  }
  .delivery-payment__content {
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    -ms-grid-columns: (60%)[1];
        grid-template-columns: repeat(1, 60%);
    grid-gap: 20px;
  }
  .buyers__body {
    padding: 30px 0 50px 0;
  }
  .buyers__title {
    margin-bottom: 30px;
  }
  .buyers__content {
    width: 85%;
  }
}
